@page "/"

<h1>Hello, world!</h1>

<div style="overflow-y: scroll; height: 100%">
    Welcome to your new app.
    <div style="height: 30em; background-color: lightblue;"></div>
    <textarea rows="10" />
</div>